node_module
cypress
dist
logs
node_modules
uploads
.editorconfig
.eslintrc.js
.git
.gitignore
.prettierignore
.pretttierrc.json
jest.config.js
nodemon.json
README.md
Dockerfile*
docker-compose*
npm-debug.log
.vscode