@use '@/styles/variables.sass'
@import '@/styles/fonts.sass'

*
  margin: 0
  padding: 0

ul, ol, li, button, input, textarea, select
  margin: 0
  padding: 0

button, input, textarea, select
  color: inherit
  font: inherit
  background: unset
  border: none
  border-radius: 0

body, html, #app-root
  height: 100%

body
  overflow-x: hidden
  @include allmende.text-body
  font-family: "Inter"
  margin: 0
  color: var(--text-primary)
  background: var(--layer-10)

.headline
  @include allmende.text-headline

.section
  margin-bottom: allmende.$size-medium
