@mixin title-1
  font-size: 28px
  line-height: 34px

@mixin headline
  font-size: 17px
  line-height: 22px
  text-: none

@mixin body
  font-size: 17px
  line-height: 22px

@mixin action
  font-size: 15px
  line-height: 20px

@mixin subhead
  font-size: 15px
  line-height: 20px

@mixin footnote
  font-size: 13px
  line-height: 18px
