:root
  --action-primary: #6a9577
  --action-primary-hover: #547964
  --action-primary-active: #3e5c50
  --action-primary-disabled: rgba(106,149,119,0.500)
  --action-secondary: #eff0f3
  --action-secondary-hover: #e4e5ea
  --action-secondary-active: #d7d9e0
  --action-secondary-disabled: rgba(239,240,243,0.500)
  --text-primary: #15211f
  --text-secondary: #3e5c50
  --text-error: #85291d
  --text-inverted: #fdfdfd
  --text-disabled: rgba(21,33,31,0.500)
  --layer-05: #e1eae1
  --layer-10: #f0f5f0
  --layer-20: #ffffff
  --layer-error: #fff1ef
  --icon-default: #3e5c50
  --icon-disabled: #96b69c
  --border-seperator: #e1eae1
  --border-focus: rgba(62, 92, 80, 0.75)
  --shadow-card: 0px 0px 12px rgba(85, 101, 90, 0.2), 0px 8px 48px rgba(85, 101, 88, 0.3)
  --shadow-card-subtle: 0px 0px 12px rgba(85, 101, 90, 0.2), 0px 8px 24px rgba(85, 101, 88, 0.3)

*[data-theme="dark"]
  color: var(--text-primary)
  --action-primary: #e1eae1
  --action-primary-hover: #c3d5c5
  --action-primary-active: #96b69c
  --action-primary-disabled: rgba(225,234,225,0.500)
  --action-secondary: #547964
  --action-secondary-hover: #6a9577
  --action-secondary-active: #82a78b
  --action-secondary-disabled: rgba(84,121,100,0.500)
  --text-primary: #f0f5f0
  --text-secondary: #c3d5c5
  --text-inverted: #15211f
  --text-error: #ffcbc4
  --text-disabled: rgba(240,245,240,0.500)
  --layer-05: #3e5c50
  --layer-10: #15211f
  --layer-20: #293f39
  --layer-error: #611d14
  --icon-default: #c3d5c5
  --icon-disabled: #547964
  --border-seperator: #3e5c50
  --border-focus: rgba(225, 234, 225, 0.75)
  --shadow-card: 0px 8px 48px #000000
  --shadow-card-subtle: 0px 8px 48px #000000
